{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 240,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
